* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}


.em-hero {
  background-image: url(img/1.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}


.em-container {
  color: white;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 64px;
  padding-left: 16px;
}

.em-text {
  font-size: 72px;
  font-weight: 400;
}

.em-black-box {
  background-color: #000;
  padding: 20px;
}


.em-black-box h2 {
  font-size: 72px;
  color: white;
  text-align: center;
  font-weight: 300;
}


.em-black-box h2 span {
  font-weight: 400;
  font-size: 96px;
}


.em-work {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width: 1100px;
  margin: 50px auto;
}


.em-grid-item { 
  display: flex;
  justify-content: center;
  align-items: center;
}


.em-card {
  max-width: 320px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
  transition: 0.2s;
}


.em-card:hover {
  transform: scale(1.04);
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.3);
}


.em-content {
  padding: 20px;
}

.em-content h3 {
  margin-bottom: 10px;
}


.em-bottom-section {
  display: flex;
}


.em-contact {
  background-color: #515603;
}

.em-about {
  background-color: #722300;
}

.em-contact,
.em-about {
  min-height: 300px;
  padding: 32px;
  color: white;
}


.em-about h2,
.em-contact h2 {
  font-size: 64px;
  font-weight: 300;
}


.em-about p,
.em-contact p {
  margin-bottom: 20px;
}


footer {
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  padding: 20px;
  color: white;
}


@media (max-width: 786px) {

  .em-hero {
    min-height: 50vh; 
  }

  .em-container {
    padding: 10px 0;
    text-align: center;
  }

  .em-text {
    font-size: 32px; 
  }

  .em-black-box h2 {
    font-size: 24px;
  }

  .em-black-box h2 span {
    font-size: 32px;
  }

  .em-bottom-section {
    flex-direction: column; 
  }

  h1 {
    font-size: 32px;
  }

  .em-contact h2,
  .em-about h2 {
    font-size: 32px;
  }
}